.mac-images {
	width: 100%;
}

.heroTitle,
.subHeroTitle {
	text-align: center;
}

.heroTitle {
	margin-top: 50px;
	font-weight: 300;
	font-size: 35px;
}

.subHeroTitle {
	font-weight: 100;
	font-size: 25px;
	margin-bottom: 50px;
}
